<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=MSI;Initial Catalog=Lamazani;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="Employees.DAL" value="DAL"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>